
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(269, 100%, 96%); 
    color: hsl(0, 0%, 20%);
}


nav {
    background-color: hsl(23, 100%, 65%); 
    padding: 15px;
    text-align: center;
    border-bottom: 4px solid hsl(275, 86%, 36%);
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: hsl(275, 86%, 36%);
    padding: 10px 18px;
    margin: 6px;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}


nav a:hover {
    background-color: white;
    color: hsl(23, 100%, 65%);
    border: 2px solid hsl(23, 100%, 65%);
}


section {
    background-color: white;
    margin: 30px;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid hsl(23, 100%, 65%);
}


h2 {
    color: hsl(275, 86%, 36%);
    text-decoration: 
    margin-bottom: 15px;
}


blockquote {
    background-color: hsl(274, 100%, 97%);
    padding: 15px;
    border-left: 5px solid hsl(275, 86%, 36%);
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: hsl(23, 100%, 65%);
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 20px;
    width: fit-content;
    transition: 0.3s;
}


ul li:hover {
    background-color: hsl(275, 86%, 36%);
}

a {
    color: hsl(275, 86%, 36%);
    font-weight: bold;
}

a:hover {
    color: hsl(23, 100%, 65%);
    text-decoration: underline;
}


footer {
    background-color: hsl(275, 86%, 36%);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    text-decoration: underline;
    border-top: 4px solid hsl(23, 100%, 65%);
}
